@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lexend:wght@300&family=Rufina:wght@700&display=swap');
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rufina', serif;
  margin: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

.title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
}

input {
  font-family: Tahoma,sans-serif;
  font-size: 20px;
  height: 5vh;
  margin: 2px;
  padding-left: 30px;
  width: 20vw;
}

@media screen and (min-width: 480px) {
  .input {
      font-size:10px;
      height: 3vh;
      padding-left: 3px;
      width: 5vw
  }
}

.btn {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  color: blue;
  font-weight: 700;
  height: 30px;
  margin-top: 30px;
  padding-left: 0;
  width: 110px
}

.btn:hover {
  background-color: blue;
  color: #fff
}

table {
  border: 2px solid #228b22;
  height: 200px;
  width: 50vw
}

@media screen and (min-width: 380px) {
  .table {
      width:20vw
  }
}

th {
  border-bottom: 1px solid #000
}

td,th {
  width: 100vw
}

td {
  text-align: center
}

tr {
  border: 1px solid #000
}

.listcon {
  margin-top: 20px;
  padding-bottom: 200px
}

.btn12 {
  background-color: initial;
  border: none
}

.btn12:hover {
  color: red
}

.update {
  background-color: green;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 17px;
  height: 25px
}

.update:hover {
  background-color: blue;
  color: #fff
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

